<div id="map"></div>

<div id="contact-cards-content">
  <div class="contact-info">

    <div class="card">
      <img id="contact-card-1-img" class="icon" src="./multimedia/icons/phone_32.png">
      <div class="card-content">
        <h3>Phone Number</h3>
        <span>(829)-713-1975</span>
      </div>
    </div>

    <div class="card">
      <img id="contact-card-2-img" class="icon" src="./multimedia/icons/email_32.png" alt="">
      <div class="card-content">
        <h3>Email</h3>
        <span>proyectofinaljorge@gmail.com</span>
      </div>
    </div>

    <div class="card">
      <img id="contact-card-3-img" class="icon" src="./multimedia/icons/marker_32.png" alt="">

      <div class="card-content">
        <h3>Location</h3>
        <span>Santo Domingo Este</span>
      </div>
    </div>

  </div>
</div>

<div id="margin-page-form">

  <form action="/contact" method="post">
    <h1 id="title-form">Leave us a message</h1>
    <hr id="barrita-del-form">
    <div id="formularion-mallon">
      <div id="formulario-seccion-1">
        <label for="name-txt">Name</label>
        <br>
        <input type="text" name="name" id="name-txt" required>
        <br>
        <label for="email-txt">Email</label>
        <br>
        <input type="email" name="email" id="email-txt" required>
        <br>
        <label for="phone-txt">Phone</label>
        <br>
        <input type="text" name="phone" id="phone-txt" class="phone-input" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          required>
        <br>
        <button id="boton-form" type="submit">Enviar</button>
      </div>

      <div id="formulario-seccion-2">

        <label for="message-txt">Message</label>
        <br>
        <textarea name="message" id="message-txt" cols="30" rows="10" required></textarea>

      </div>

      <!-- <button type="submit">Send</button> -->
  </form>

  
</div>

<div id="video-anuncio">
    <video width="450px" height="auto" muted autoplay loop>
      <source src="./multimedia/audio/anuncio.mp4" type="video/mp4">
    </video>

  </div>

<script>
  function initMap() {
    var location = {
      //parque del este
      lat: 18.480860623916726,
      lng: -69.85157997728244

      // omega
      // lat: 18.457670720146325,
      // lng: -69.93961112534151

      // auto dealer spa
      // lat: 18.461047814782845,
      // lng: -69.93387590801966
    }

    var map = new
    google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: location
    });

    var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: "Autodealer",
      mapTypeId: 'hybrid',
      icon: {
        url: "http://maps.google.com/mapfiles/ms/micons/red-pushpin.png",
        scaledSize: new google.maps.Size(25, 25)
      },
    });

    var infowindow = new google.maps.InfoWindow({
      content: 'TABLE TENNIS 27'.fontsize('2').bold(true)
    })
    infowindow.open(map, marker);
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC-ttgVAuvOVPGbJ1lZWnDWki0jJPnBg4&callback=initMap&libraries=&v=weekly"
  async></script>