<div class="cards-container">

    <div>
        <a name="rubbers"></a>

        <div class="titulo-seccion">
            <h1>Rubbers</h1>
        </div>
    </div>

    <div class="product-gomas">
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product1.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product5.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product3.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product11.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product10.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product12.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product8.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product9.png" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product7.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product2.png" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product6.png" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product13.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product14.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card goma_card">
                <img src="./multimedia/imagenes/product15.jpg" alt="" class="card_img goma">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Dignics 05</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>


    <div>
        <a name="blades"></a>

        <div class="titulo-seccion">
            <h1>Blades</h1>
        </div>
    </div>
    <div class="product-raquetas">

        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade1.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade2.jpg" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade3.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade4.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade5.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade6.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade7.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <div class="card raqueta_card">
                <img src="./multimedia/imagenes/blade8.png" alt="" class="card_img raqueta">

                <!-- <div class="card_content">  -->
                <div class="card_data">
                    <h1 class="card_title goma_text">Butterfly Timo Boll ALC</h1>
                    <span class="card_preci goma_text">€ 89.99</span>
                    <div class="row-featured-info">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                        <img src="./multimedia/icons/star_filled_32.png" alt="">
                    </div>
                    <a href="#" class="card_button">ADD TO CART</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>