<div class="slider">
    <div class="slides">
        <div class="slide">
            <div class="slide-data">
                <h1 id="delay1">SPANKING <br> COLLECTION</h1>
                <a href="/products"><button id="delay2">SHOP NOW</button></a>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SHOP NOW</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SHOP NOW</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 4</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SHOP NOW</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 5</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SHOP NOW</button>
            </div>
        </div>
    </div>

    <button class="arrows prev" onclick="plusslide(-1)">
        <span>
            <img class="fas fa-angle-left arrow-icon left" src="./multimedia/icons/arrow_white_48.png">
        </span>
    </button>
    <button class="arrows next" onclick="plusslide(1)">
        <span>
            <img class="fas fa-angle-right arrow-icon right" src="./multimedia/icons/arrow_white_48.png">
        </span>
    </button>

    <div class="dots">
        <span onclick="currentslide(1)"></span>
        <span onclick="currentslide(2)"></span>
        <span onclick="currentslide(3)"></span>
        <span onclick="currentslide(4)"></span>
        <span onclick="currentslide(5)"></span>
    </div>
</div>

<div class="brand">
    <div class="margin-page-2">
        <div class="brands-top">
            <div id="brands-title">
                <h1>SHOP BY <span>BRANDS</span></h1>
            </div>
        </div>
        <div class="brands-bottom">
            <div class="brand-content">
                <div>
                    <img class="brand-image img1" src="./multimedia/imagenes/brand1.jpg">
                </div>
            </div>
            <div class="brand-content">
                <div>
                    <img class="brand-image img2" src="./multimedia/imagenes/brand2.jpg">
                </div>
            </div>
            <div class="brand-content">
                <div>
                    <img class="brand-image img3" src="./multimedia/imagenes/tibhar_logo_2020.png">
                </div>
            </div>
            <div class="brand-content">
                <div>
                    <img class="brand-image img4" src="./multimedia/imagenes/dhs-logo.gif">
                </div>
            </div>
            <div class="brand-content">
                <div>
                    <img class="brand-image img5" src="./multimedia/imagenes/brand3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured">
    <div class="top-featured">
        <h1 class="top-title">Featured Products</h1>
    </div>
    <div class="bottom-featured">
        <div class="featured-content">
            <div class="featured-product-image">
                <img src="./multimedia/imagenes/product1.jpg" alt="">
            </div>
            <div class="info-featured">
                <div class="row-featured-info">
                    <div class="name-featured">
                        <h2>Butterfly Dignics 05</h2>
                    </div>
                </div>
                <div class="row-featured-info">
                    <h2 class="price">€ 89.99</h2>
                </div>
                <div class="row-featured-info">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                </div>
            </div>
            <div class="button">ADD TO CART</div>
        </div>
        <div class="featured-content">
            <div class="featured-product-image">
                <img src="./multimedia/imagenes/product2.png" alt="">
            </div>
            <div class="info-featured">
                <div class="row-featured-info">
                    <div class="name-featured">
                        <h2>DHS Hurricane 3</h2>
                    </div>
                </div>
                <div class="row-featured-info">
                    <h2 class="price">€ 16.25</h2>
                </div>
                <div class="row-featured-info">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                </div>
            </div>
            <div class="button">ADD TO CART</div>
        </div>
        <div class="featured-content">
            <div class="featured-product-image">
                <img src="./multimedia/imagenes/product3.jpg" alt="">
            </div>
            <div class="info-featured">
                <div class="row-featured-info">
                    <div class="name-featured">
                        <h2>Tibhar Evolution MX-P</h2>
                    </div>
                </div>
                <div class="row-featured-info">
                    <h2 class="price">€ 41.58</h2>
                </div>
                <div class="row-featured-info">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_32.png" alt="">
                </div>
            </div>
            <div class="button">ADD TO CART</div>
        </div>
        <div class="featured-content">
            <div class="featured-product-image">
                <img src="./multimedia/imagenes/product4.png" alt="">
            </div>
            <div class="info-featured">
                <div class="row-featured-info">
                    <div class="name-featured">
                        <h2>Butterfly Timo Boll ALC</h2>
                    </div>
                </div>
                <div class="row-featured-info">
                    <h2 class="price">€ 149.92</h2>
                </div>
                <div class="row-featured-info">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                </div>
            </div>
            <div class="button">ADD TO CART</div>
        </div>
        <div class="featured-content">
            <div class="featured-product-image">
                <img src="./multimedia/imagenes/product5.jpg" alt="">
            </div>
            <div class="info-featured">
                <div class="row-featured-info">
                    <div class="name-featured">
                        <h2>XIOM Omega V Tour</h2>
                    </div>
                </div>
                <div class="row-featured-info">
                    <h2 class="price">€ 41.58</h2>
                </div>
                <div class="row-featured-info">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_filled_32.png" alt="">
                    <img src="./multimedia/icons/star_32.png" alt="">
                </div>
            </div>
            <div class="button">ADD TO CART</div>
        </div>
    </div>
    <a href="/products">
    <div class="bounce">
        <p> VIEW ALL → </p>
    </div>
</a>
</div>

<div class="releated">
    <div class="top-Releated">
        <h1 class="top-title">Releated videos</h1>
    </div>

    <div class="container-fluid">
        <div class="video-row">
            <div class="column">
                <div class="video-content-small-top">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eGOgODy_itg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video-content">
                    <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/Nj8XNBZZsxY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="column">
                <div class="video-content">
                    <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/DODDExcIsEE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video-content-small-bottom">
                    <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/UMZ9EgS8xqU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./scripts/script.js"></script>