<div class="about-content">

    <div id="about-logo" class="about-card"></div>

    <div class="about-card">
        <div id="about-text">
            <h1>TABLE TENNIS 27</h1>
            <br>
            <p>We are a fast growing company. We opened our doors in 2021. Our
                knowledgeable staff, which is passionate about table tennis, has in excess of 20
                years experience in the table tennis industry.</p>
            <br>
            <p>We are available to give expert advice and help you choose the best equipment
                to match your playing level and technique. We stock over 6,000 products from
                leading brands, including blades and rubbers, accessories, and clothing all at
                affordable pricing. We offer free worldwide shipping to most countries on all
                orders over 75€. We also offer DHL Express worldwide shipping (2-3 business
                days to Europe, 4-7 business days to the rest of the world) for free to most
                countries.</p>
            <br>
            <p>We offer a discount for bulk orders. Upon request, we will lacquer your blade
                to extend its life and assemble your racket in the most professional way. View
                Racket Assembly Reviews. We also run a physical store in Paris downtown.
            </p>
            <br>
            <p>We welcome you to Tabletennis11.com and look forward to serving you!</p>
        </div>
    </div>

</div>

<img id="anuncio-promo" src="./multimedia/imagenes/anuncio.png" alt="">

<div class="about-cards">
    <div class="card-content-about">
        <div class="card-about-text">
            <h1>MISSION</h1>
            <hr>
            <p>
                Give you advice on experts and help you choose the best team to suit your level and playing technique
                and to
                be able to develop the company this aspect to help our customers.
            </p>

        </div>
    </div>
    <div class="card-content-about">
        <div class="card-about-text">
            <h1>VISION</h1>
            <hr>
            <p>To be able to expand in the other countries and be recognized for helping with trained employees to the
                selection of the best products adapted to customer needs and to be able to reach the position #1 in this
                market sport and treat customers.
            </p>
        </div>
    </div>
    <div class="card-content-about">
        <div class="card-about-text">
            <h1>VALUES</h1>
            <hr>
            <p>
                Respect
                <br>
                Responsibility
                <br>
                Teamwork
                <br>
                Empathy
                <br>
                Sincerity
                <br>
                Perseverance
                <br>
                Honesty
            </p>
        </div>
    </div>
</div>