<div id="map"></div>

<div class="contact-cards">
  <div class="card-content" onmouseover="changePhoneImage1()" onmouseout="changePhoneImageBack1()">
    <div class="card-column-logo">
      <img id="contact-card-1-img" src="./multimedia/icons/phone_32.png">
    </div>
    <div class="card-column">
      <h1>PHONE </h1>
      <h2>829-713-1975</h2>
      <h2>809-534-0627</h2>
    </div>
  </div>
  <div class="card-content" onmouseover="changeMarkerImage()" onmouseout="changeMarkerImageBack()">
    <div class="card-column-logo">
      <img id="contact-card-2-img" src="./multimedia/icons/marker_32.png" alt="">
    </div>
    <div class="card-column">
      <h1>PHONE </h1>
      <h2>829-713-1975</h2>
      <h2>809-534-0627</h2>
    </div>
  </div>
  <div class="card-content" onmouseover="changeMailImage()" onmouseout="changeMailImageBack()">
    <div class="card-column-logo">
      <img id="contact-card-3-img" src="./multimedia/icons/email_32.png" alt="">
    </div>
    <div class="card-column">
      <h1>PHONE </h1>
      <h2>829-713-1975</h2>
      <h2>809-534-0627</h2>
    </div>
  </div>
</div>

<input type="text">


<script>
  function changePhoneImage1() {
    document.getElementById('contact-card-1-img').src = "./multimedia/icons/phone_white_32.png", document
      .getElementById('contact-card-1-img').style.transition = '0.6s';
  }

  function changePhoneImageBack1() {
    document.getElementById('contact-card-1-img').src = "./multimedia/icons/phone_32.png";
  }

  // 2
  function changeMarkerImage() {
    document.getElementById('contact-card-2-img').src = "./multimedia/icons/marker_white_32.png";
  }

  function changeMarkerImageBack() {
    document.getElementById('contact-card-2-img').src = "./multimedia/icons/marker_32.png";
  }

  // 3
  function changeMailImage() {
    document.getElementById('contact-card-3-img').src = "./multimedia/icons/email_white_32.png";
  }

  function changeMailImageBack() {
    document.getElementById('contact-card-3-img').src = "./multimedia/icons/email_32.png";
  }
</script>

<script>
  function initMap() {
    var location = {
      //parque del este
      lat: 18.480860623916726,
      lng: -69.85157997728244

      // omega
      // lat: 18.457670720146325,
      // lng: -69.93961112534151

      // auto dealer spa
      // lat: 18.461047814782845,
      // lng: -69.93387590801966
    }

    var map = new
    google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: location
    });

    var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: "Autodealer",
      mapTypeId: 'hybrid',
      icon: {
        url: "http://maps.google.com/mapfiles/ms/micons/red-pushpin.png",
        scaledSize: new google.maps.Size(25, 25)
      },
    });

    var infowindow = new google.maps.InfoWindow({
      content: 'TABLE TENNIS 27'.fontsize('2').bold(true)
    })
    infowindow.open(map, marker);
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC-ttgVAuvOVPGbJ1lZWnDWki0jJPnBg4&callback=initMap&libraries=&v=weekly"
  async></script>