<div class="footer">
    <div class="footer-content">       
        <div>
            <h2>Socials</h2>
            <div class="footer-social">
                <div>
                    <img src="./multimedia/icons/facebook.svg" alt="">
                </div>
                <div>
                    <img src="./multimedia/icons/instagram.png" alt="">
                </div>
                <div>
                    <img src="./multimedia/icons/twitter.png" alt="">
                </div>
            </div>

        </div>
        <div>
            <h2>Payment Methods</h2>
            <div class="footer-social">
                
                <div>
                    <img src="./multimedia/icons/paypal-logo.png" alt="">
                </div>
                <div>
                    <img src="./multimedia/icons/mastercard.png" alt="">
                </div>
                <div>
                    <img src="./multimedia/icons/visa-logo.png" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="bottom-footer">
        <h2>© 2021 Copyright | Designed by Jorge</h2>
    </div>
</div>