<div class="header-top">
    <h1>Get free shipping on orders over <span>€ 75</span></h1>
    <audio controls autoplay style="position: absolute; right: 0;">
        <source src="./multimedia/audio/himno.mp3" type="audio/mpeg">
      </audio>
</div>



<div class="header-bottom sticky">
    <div class="margin-page">
        <div class="header">
            <div id="logo">
                <a href="/home">
                    <img class="menu-image" src="./multimedia/imagenes/web_logo.png" alt="">
                </a>
            </div>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <img src="./multimedia/icons/menu_48px.png" alt="">
            </label>

            <ul class="menu1">
                <label for="chk" class="hide-menu-btn">
                    <img src="./multimedia/icons/close_menu_100.png">
                </label>
                <li id="hover">
                    <a href="/home">
                        <button class="btn btn-border-underline">Home</button>
                    </a>
                </li>
                <li id="hover">
                    <a href="/products"><button class="btn btn-border-underline">Products</button></a>
                    <ul>
                        <li>
                            <a href="/products#rubbers">
                                <button class="btn btn-border-underline">Rubbers</button>
                            </a>
                        </li>
                        <li>
                            <a href="/products#blades">
                                <button class="btn btn-border-underline">Blades</button>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="hover">
                    <a href="/about" id="move-down">
                        <button class="btn btn-border-underline">About Us</button>
                    </a>
                </li>
                <li id="hover">
                    <a href="/contact">
                        <button class="btn btn-border-underline">Contact Us</button>
                    </a>
                </li>
            </ul>

            <div id="carrito" onclick="alert('We are working on a new cart')">
                <img class="menu-image" src="./multimedia/icons/shopping_cart_white_64px.png" alt="">
            </div>
        </div>
    </div>

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>

</div>

<button onclick="goToTop()" id="myBtn" title="Ir arriba">
    <div id="btn-top-btn" class="inverted"></div>
</button>

<!-- scroll up -->
<script src="./scripts/scroll-y-progress.js"></script>