<div class="slider">
    <div class="slides">
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SUBSCRIBE</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>COMMENT</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SHARE</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 4</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SUBSCRIBE</button>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>This is Slide # 5</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veniam fuga voluptatem voluptas illum
                    deserunt soluta quasi ipsam quam qui eligendi autem laudantium inventore, voluptatibus blanditiis
                    nobis, tempora architecto atque.</p>
                <button>SUBSCRIBE</button>
            </div>
        </div>
    </div>

    <button class="arrows prev" onclick="plusslide(-1)">
        <span><i class="fas fa-angle-left"></i></span>
    </button>
    <button class="arrows next" onclick="plusslide(1)">
        <span><i class="fas fa-angle-right"></i></span>
    </button>

    <div class="dots">
        <span onclick="currentslide(1)"></span>
        <span onclick="currentslide(2)"></span>
        <span onclick="currentslide(3)"></span>
        <span onclick="currentslide(4)"></span>
        <span onclick="currentslide(5)"></span>
    </div>
</div>

<script src="/scripts/script.js"></script>