* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.btn {
  background-color: var(--background-color);
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 26px;
  font-weight: 900;

  --border-size: 2px;
  --accent-color: #F44336;
}

.header {
  height: fit-content;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 -15px;
  flex-wrap: wrap;
}

.menu-image {
  width: 60px !important;
  height: auto !important;
}


.menu1 {
  width: fit-content;
  float: right;
  line-height: 100px;
  margin: 0 auto;
  list-style: none;
}

.menu1 a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0 30px;
  display: block;
  transition: 0.4s;
}

.menu1 li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.4s;
}


/* ============= */

ul, ol {
  list-style: none;
}

.menu1 > li {
  float:left;
}

.menu1 li a {
  background-color:#161616;
  color:#fff;
  text-decoration: none;
  /* padding:10px 12px; */
  display:block;
}

.menu1 li a:hover {
  background-color:#434343;
}

.menu1 li ul {
  display: none;
  position: absolute;
  min-width: 165.97px;
  z-index: 1000;
}

.menu1 li:hover > ul {
  display:block;
}
/* ============= */

.show-menu-btn,
.hide-menu-btn {
  min-width: 50px !important;
  transition: 0.4s;
  display: none;
}

.show-menu-btn img,
.hide-menu-btn img {
  width: 100%;
  cursor: pointer;
}

.menu1 a:hover {
  color: teal;
  transition: all 0.6s ease-in-out 0s;
}

.btn.btn-border-underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

#hover:hover .btn.btn-border-underline::before,
#hover:focus .btn.btn-border-underline::before {
  transform: scaleX(1);
}

.menu1 a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #333;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 400px) {
  .header {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  .show-menu-btn {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1310px) {

  .header {
    padding: 10px 0;
  }

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .menu1 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.98);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 0 0 40px;
    line-height: normal;
    transition: 0.7s;
    z-index: 3000;
  }

  .menu1 a {
    display: block;
    padding: 20px;
  }

  .menu1 a:first-child {
    margin-top: 20px;
  }

  .menu1 li {
    float: none;
    height: fit-content;
  }

  .menu1 li ul {
    display: none !important;
  }

  .hide-menu-btn {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
  }

  .hide-menu-btn img {
    width: 65px;
    margin: 50px 0;
  }

  #chk:checked~.menu1 {
    right: 0;
  }
}