<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {rutaCss: "./css/slider.css"}); %>
</head>

<body>

    <%- include('../partials/header'); %>

    <main>
        <%- include('../partials/bodyAbout'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        document.onkeypress = function (e) {
            e = e || window.event;
    
            if (e.keyCode === 13) {
                document.documentElement.classList.toggle('dark-mode')
                document.getElementById('btn-top-btn').classList.toggle('inverted')
                document.getElementById('btn-top-btn').classList.toggle('invert')
                document.getElementsByTagName('p').classList.toggle('white')

            }
        }
    </script>
</body>

</html>