<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {rutaCss: "./css/style.css"}); %>
</head>

<body style="background-color: #C0C0C0;">

    <%- include('../partials/header'); %>


    <main>
        <%- include('../partials/bodyContact'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>

</html>