<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {rutaCss: "./css/slider.css"}); %>
</head>

<body>

    <%- include('../partials/header'); %>


    <main>
        <%- include('../partials/bodyInicio'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>