<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {rutaCss: "./css/cards.css"}); %>
</head>

<body>
    
    <%- include('../partials/header'); %>

    <main>
        <%- include('../partials/bodyProducts'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>