<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div>
        <input type="text">
        <select>
            <option value="US">US</option>
            <option value="GB">GB</option>
            <option value="AU">AU</option>
        </select>
    </div>

    <script src="./scripts/format-phone/cleave.min.js"></script>
    <script src="./scripts/format-phone/cleave-phone.i18n.js"></script>
    <script src="./scripts/format-phone/script.js"></script>
</body>
</html>